<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
  
  <title>GitHub Authentication Example</title>

  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//www.parsecdn.com/js/parse-1.2.13.min.js"></script>
  <script type="text/javascript">
  Parse.initialize(
    "your-parse-application-id-here",
    "your-parse-javascript-key-here"
  );
  </script>
<body>
  <div class="container">
    <h1 class="intro">GitHub Authentication Example</h1>
